@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply px-4 py-2 rounded-md;
    @apply bg-indigo-400 hover:bg-indigo-600;
    @apply ring-offset-2 ring-offset-current focus:ring-2 focus:ring-blue-500/50;
    @apply transition duration-200 ease-in-out;
}

button:disabled {
    @apply bg-zinc-500 pointer-events-none;
}

label {
    @apply text-xs font-semibold text-gray-200;
}

input {
    @apply px-4 py-1 sm:py-2 rounded-md appearance-none bg-transparent;
    @apply border-2 border-gray-500/50;
    @apply text-gray-400 placeholder:text-gray-500;
    @apply ring-offset-2 ring-offset-current focus:ring-2 focus:ring-blue-500/50;
    @apply transition duration-200 ease-in-out;
}

p {
    @apply text-gray-300 text-sm;
}

sm {
    @apply text-gray-500 text-xs;
}

a {
    @apply text-indigo-500 hover:text-indigo-600;
}