<!DOCTYPE html>
<html>

<head>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{.image}}" />
</head>

<body>
    <h1>hello and goodbye</h1>
</body>

</html>